<div class="list-actions">
<%= link_to 'New Curnit', new_curnit_path %>
</div>

<%= show_flash %>

<h1>Curnits</h1>

<div class="list">
<% @curnits.each do |curnit| %>
  <%= render(:partial => 'listing', :locals => {:curnit => curnit}) %>
<% end %>
</div>

