/* http://colorschemedesigner.com/#21322w0jCw0w03V3Sj */

body {
  background-color: #890;
  color: #340;
  font-size: 16px;
  margin-left: 24px;
  margin-right: 24px;
}

a {
  color: #902;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #b24;
}

*.clickable {
  cursor: pointer;
}

h1#nameplate {
  color: white;
  font-size: 36px;
  border-bottom: 3px solid #450;
  background-color: #ab2;
  margin: -8px -24px 0;
  padding: 0 8px 0 8px;
}

#menu {
  position: absolute;
  right: 9px;
  top: 9px;
  
  display: box;
  display: -moz-box;
  display: -webkit-box;
  
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
}

#menu li {
  text-align: center;
  /*min-width: 60px;*/
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 3px;
  padding-top: 3px;
  
  background-color: #450;
  
  display: box;
  display: -moz-box;
  display: -webkit-box;
  
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  
  -webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}

#menu li.active {
  background-color: #670;
}

#menu li a {
  display: block;
  text-align: center;
  width: 100%;
  color: white;
}

#menu li:hover {
  background-color: #670;
}

#authenticated-as {
  position: absolute;
  right: 8px;
  top: 2px;
  font-size: 11px;
}

h1 {
  margin-top: 8px;
}

fieldset {
  border: 2px dotted #445500;
  margin-bottom: 1em;
}

label {
  font-weight: bold;
}

div.list-actions {
  float: right;
  padding-top: 24px;
  margin-right: 24px;
}

div.list {
  left: 24px; 
  right: 50%; 
  position: absolute; 
  margin-right: 12px
}


div.listing {
  background-color: #670;
  margin-bottom: 8px;
  padding: 6px;
}

div.listing span.summary {
  font-size: 12px;
  float: right;
  padding-top: 2px;
}

div.listing:hover {
}

div.listing h3 {
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
}

ul.groupables {
  list-style: none;
  padding-left: 18px;
  margin-top: 4px;
  margin-bottom: 4px;
}

ul.groupables li {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 4px;
  margin-bottom: 3px;
  background-color: #9a5;
}

ul.groupables li span.class {
  background-color: #340;
  color: #bc7;
  padding-left: 4px;
  padding-right: 4px;
}

.edit_group ul.groupables li {
  width: 50%;
}


div.sidebox {
  border: 4px dashed #670;
}

div.sidebox ul {
  padding-left: 4px;
  padding-right: 4px;
}


span.action {
  font-size: 10px;
}


div.field {
  background-color: #670;
  padding: 4px;
  padding-right: 10px;
}

div.field label {
  color: #bc7;
  font-weight: bold;
}

div.field *.read-only {
  background-color: #cd9;
  padding: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

strong.highlight {
  background-color: #ab0;
}

/*div.field input[type=text] {
  width: 100%;
}*/

#notice {
  background-color: #efb;
  color: #560;
  font-weight: bold;
  padding: 4px;
  border: 3px solid #780;
}

table > thead > tr > th {
  background-color: #670;
  text-align: left;
  color: #bc7;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

*.deleted {
  opacity: 0.4;
}

*.active {
  background-color: #cd5;
}

*.ui-draggable {
  cursor: move;
}

*.ui-draggable-dragging {
  cursor: move;
}

*.dropping {
  background-color: #770 !important;
}

*.ui-droppable.active {
  background-color: #ab2;
}

a.link-back-to-list {
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
}