<h1>Group: <%= @group %></h1>

<div class="list" style="left: 24px; right: 50%; position: absolute; margin-right: 12px">
<%= render 'form' %>
</div>

<%= link_to 'Show', @group %> |
<%= link_to 'Back', groups_path %>
