<div class="list-actions">
<%= link_to '+ Add Group', new_group_path %>
</div>

<h1>Groups</h1>


<div class="list" style="left: 24px; right: 50%; position: absolute; margin-right: 12px">
<% @groups.each do |group| %>
  <%= render(:partial => 'listing', :locals => {:group => group}) %>
<% end %>
</div>

<h2 style="right: 24px; left: 50%; position: absolute; margin: 0; margin-left: 12px; background-color: #670; padding: 8px">Groupable Items</h2>
<div class="sidebox" style="right: 24px; left: 50%; position: absolute; margin-left: 12px; margin-top: 37px">
	<ul class="groupables">
		<% (Group.all + User.all).each do |groupable| %>
			<%= render(:partial => 'groupable', :locals => {:groupable => groupable}) %>
		<% end %>
	</ul>
</div>

