<div class="list-actions">
<%= link_to '+ Add User', new_user_path %>
</div>

<%= show_flash %>

<h1>Users</h1>


<div class="list">
<% @users.each do |user| %>
  <%= render(:partial => 'listing', :locals => {:user => user}) %>
<% end %>
</div>

<!--
<h2 style="right: 24px; left: 50%; position: absolute; margin: 0; margin-left: 12px; background-color: #670; padding: 8px">New User</h2>
<div class="sidebox" style="right: 24px; left: 50%; position: absolute; margin-left: 12px; margin-top: 37px">
</div>
-->

