<fieldset id="metadata-form">
  <table>
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
        <th>Delete?</th>
      </tr>
    </thead>
    <tbody>
      <% f.object.metadata_pairs.build %>
      <%= f.fields_for :metadata_pairs do |mf| %>
      <tr>
        <td><%= mf.text_field :key, :style => 'width: 20em' %></td>
        <td><%= mf.text_field :value, :style => 'width: 20em' %></td>
        <td style="text-align: center"><%= mf.check_box :_destroy %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>