<div class="list-actions">
<%= link_to '+ Add Run', new_run_path %>
</div>

<%= show_flash %>

<h1>Runs</h1>

<div class="list">
<% @runs.each do |run| %>
  <%= render(:partial => 'listing', :locals => {:run => run}) %>
<% end %>
</div>

